.view-title-search{

    width: 100%;
    height: a;
    overflow-y:scroll ;
    max-height: 400px;
    position: absolute;
    background-color: white;
    top: 140px;
    left: 0;
    z-index:2;

}
